.btn-av {
  background-color: #ff6859 !important;
  border-color: #fff !important;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  box-shadow: none;
  &:hover {
    background-color: #fff !important;
    border-color: #ff6859 !important;
    color: #ff6859 !important;
    transform: border-color 2s;
    box-shadow: none;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
