.btn-av {
  background-color: #ff6859 !important;
  border-color: #fff !important;
  font-family: "Open Sans", sans-serif;
  &:hover {
    background-color: #fff !important;
    border-color: #ff6859 !important;
    color: #ff6859 !important;
    transform: border-color 2s;
  }
  &:focus {
    background-color: #fff !important;
    border-color: #ff6859 !important;
    color: #ff6859 !important;
  }
}
